src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
 xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
 xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
 <flow name="get:\reports:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="3fcab4c4-2bc7-46d5-8a18-1fcacaff993b" variableName="correlationId"/> 
  <logger level="INFO" doc:name="Start Log" doc:id="8fa046b3-a5e8-445d-9eb8-fc7ccf7330b2" message='transactionId: #[vars.transactionId]], correlationId: #[vars.correlationId], message: Started get reports flow and received query parameter is - #[attributes.queryParams.state]"'/> 
  <ee:transform doc:name="Prepare DynamicQuery" doc:id="510c959a-985d-4179-a657-c00bb8642880" > 
   <ee:message > 
   </ee:message> 
   <ee:variables > 
    <ee:set-variable variableName="reportsDynamicQuery" ><![CDATA[if(!isEmpty(attributes.queryParams.state)) ( 
 "select count(*) as count, case_type, state from cvd_case_master where state = '" ++ upper(attributes.queryParams.state) ++ "' group by case_type, state" 
) else ( 
 "select count(*) as count, case_type, state from cvd_case_master group by case_type, state" 
)]]></ee:set-variable> 
   </ee:variables> 
  </ee:transform> 
  <flow-ref doc:name="fetch-case-reports-sub-flow" doc:id="2dde50a4-aa19-4eee-9fe1-126d4e83a77d" name="fetch-case-reports-sub-flow" /> 
  <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Prepare Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0 
output application/json 
fun vaccinatedByState(state) = (payload filter(($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map { 
 COUNT: $.COUNT 
})[0] 
--- 
((payload groupBy($.STATE) mapObject { 
 caseReports: { 
  state: $$, 
  reports: { 
   total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0), 
   ($ orderBy($.CASE_TYPE) map { 
    ($.CASE_TYPE): $.COUNT 
   }) 
  } 
 } 
}).*caseReports) default [] 
]]></ee:set-payload>
            </ee:message>
        </ee:transform> 
  <logger level="INFO" doc:name="End Log" doc:id="7e990c24-8736-41cb-a768-168975d296db" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: Completed get reports flow, payload: #[payload]"' />
     
</flow>
 </mule>