src/main/mule/implementations/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
 xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
 xmlns="http://www.mulesoft.org/schema/mule/core"
 xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
 <os:object-store name="Object_store" doc:name="Object store" doc:id="c0bbad02-083e-4597-9efd-4be6b1bb7f13" maxEntries="100" entryTtl="1" entryTtlUnit="HOURS" /> 
 <flow name="put:\cases:application\json:uhub-sapi-config"> 
  <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="d01d4238-b277-4c0e-a3f7-def3468dd792" variableName="correlationId" /> 
  <logger level="INFO" doc:name="Start Log" doc:id="b71e5e8f-ad81-4e57-b5ce-8bea63397f42" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started update covid case flow", payload: #[payload]' /> 
  <ee:transform doc:name="Prepare Covid Case Payload" doc:id="e0684204-da1a-44fc-b773-5fc0ff7290b3" > 
   <ee:message > 
   </ee:message> 
   <ee:variables > 
    <ee:set-variable variableName="covidCasePayload" ><![CDATA[%dw 2.0 
output application/java 
--- 
{ 
 case_id: payload.caseID, 
 source: payload.source, 
 case_type: payload.caseType, 
 first_name: payload.firstName, 
 last_name: payload.lastName, 
 phone: payload.phone, 
 email: payload.email, 
 date_of_birth: payload.dateOfBirth as String { 
  format: "yyyy-MM-dd" 
 }, 
 national_id: payload.nationalID, 
 national_id_type: payload.nationalIDType, 
 street_address: payload.address.streetAddress, 
 city: payload.address.city, 
 state: upper(payload.address.state), 
 postal: payload.address.postal, 
 country: payload.address.country, 
 update_date: now() as String { 
  format: "yyyy-MM-dd" 
 }, 
 create_by: "UHIS", 
 update_by: "UHIS" 
} 
]]></ee:set-variable> 
   </ee:variables> 
  </ee:transform> 
  <idempotent-message-validator doc:name="Idempotent Message Validator" doc:id="f08a1e3b-3895-4293-ac70-2f5d4aee9508" idExpression='#[vars.covidCasePayload pluck $ joinBy  ""]' objectStore="Object_store"/> 
  <flow-ref doc:name="update-covid-case-sub-flow" doc:id="b8191a5b-3965-4208-a837-9df1330ca1ec" name="update-covid-case-sub-flow" /> 
  <ee:transform doc:name="Set Success Response" doc:id="d65e638e-4f59-4735-9491-3d1194e63833" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"> 
   <ee:message> 
    <ee:set-payload><![CDATA[%dw 2.0 
output application/json 
--- 
if (payload.affectedRows > 0 ) { 
 caseID: vars.covidCasePayload.case_id 
} else {}]]></ee:set-payload> 
   </ee:message> 
  </ee:transform> 
  <logger level="INFO" doc:name="End Log" doc:id="dec84cad-3af9-4a8c-a19f-baab2802fa3b" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Completed update covid case flow", payload: #[payload]' /> 
  <error-handler > 
   <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8414d3c7-54c6-49fb-bb3b-a04906b7cc63" type="MULE:DUPLICATE_MESSAGE"> 
    <set-variable value="#[400]" doc:name="Set HTTP Status - 400" doc:id="d7c67486-0b9d-40b7-9ad6-d99cc39a60fc" variableName="httpStatus" /> 
    <set-variable value="Bad request" doc:name="set Error Message" doc:id="dc00b9e4-4709-4464-bf5b-971cff302f2b" variableName="errorMessage" /> 
    <set-variable value='#["Duplicate request received"]' doc:name="Set Error Description" doc:id="5f00e4c2-39d7-491c-917f-9dd7d180286f"

variableName="errorDescription"/> 
    <flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="cc791fa4-1b97-4e39-8388-1a0c1ee788a0" name="global-prepare-error-response-sub-flow" /> 
   </on-error-continue> 
  </error-handler>
     
</flow>
 </mule>